RoadPlanning/RoadPlanning-NodeRed.txt
[{"id":"ec1ba01a.45f5a","type":"tab","label":"TrafficePlanning","disabled":false,"info":""},{"id":"7f4db0d6.75b0e","type":"tab","label":"ButtonControl","disabled":false,"info":""},{"id":"fedf0387.f433e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ed943468.60f0a8","type":"Stackhero-InfluxDB-v2-Server","z":"","name":"InfluxDB2 Cloud","host":"eu-central-1-1.aws.cloud2.influxdata.com","port":"443","tls":true},{"id":"38060b2f.86d944","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"19b5288c.541d37","type":"ui_group","z":"","name":"RoadPlanning-RealTime","tab":"38060b2f.86d944","order":1,"disp":true,"width":"8","collapse":false},{"id":"e46ac145.45ce6","type":"ui_group","z":"","name":"RoadPlanning-SumOfData","tab":"38060b2f.86d944","order":2,"disp":true,"width":"10","collapse":false},{"id":"6b4e215c.8ea77","type":"ui_group","z":"","name":"ControlPanel","tab":"38060b2f.86d944","order":3,"disp":true,"width":"10","collapse":false},{"id":"b2943b66.84cb98","type":"inject","z":"ec1ba01a.45f5a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["9a46142a.1b83a8"]]},{"id":"9a46142a.1b83a8","type":"http request","z":"ec1ba01a.45f5a","name":"Get ODC Status","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:8080/status","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":100,"wires":[["11970e29.d487c2","e99aaec4.ae47a"]]},{"id":"11970e29.d487c2","type":"debug","z":"ec1ba01a.45f5a","name":"ODC status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"e99aaec4.ae47a","type":"switch","z":"ec1ba01a.45f5a","name":"Recording Active?","property":"payload.appState.recordingStatus.isRecording","propertyType":"msg","rules":[{"t":"true"},{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":160,"wires":[["433a4377.2c04fc"],["4d0f57f7.8fbad8"],["c25a2e3e.3245e"]]},{"id":"433a4377.2c04fc","type":"function","z":"ec1ba01a.45f5a","name":"Current Recording ID","func":"var recording = {\n    payload: msg.payload.appState.recordingStatus.recordingId\n}\nreturn recording;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":120,"wires":[["ee79e289.c43b1","2440bfb6.3d29d","6eab9788.621628"]]},{"id":"ee79e289.c43b1","type":"debug","z":"ec1ba01a.45f5a","name":"Recording ID","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":850,"y":40,"wires":[]},{"id":"6eab9788.621628","type":"http request","z":"ec1ba01a.45f5a","name":"Counter Data","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:8080/recording/{{payload}}/counter","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":200,"wires":[["f1f7fa1.5403b08","905be221.8352d"]]},{"id":"905be221.8352d","type":"debug","z":"ec1ba01a.45f5a","name":"Counter Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":200,"wires":[]},{"id":"2440bfb6.3d29d","type":"http request","z":"ec1ba01a.45f5a","name":"Stop Current Recording","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:8080/recording/stop","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":100,"wires":[["9221d64c.e381d8"]]},{"id":"9221d64c.e381d8","type":"http request","z":"ec1ba01a.45f5a","name":"Start New Recording","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:8080/recording/start","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":160,"wires":[[]]},{"id":"4d0f57f7.8fbad8","type":"http request","z":"ec1ba01a.45f5a","name":"Start New Recording","method":"GET","ret":"txt","paytoqs":"ignore","url":"localhost:8080/recording/start","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":340,"wires":[[]]},{"id":"f1f7fa1.5403b08","type":"function","z":"ec1ba01a.45f5a","name":"","func":"var counterData = {\n    payload : {\n        precision: 'ms',\n        data : []\n    }\n};\n\nfor (const area in msg.payload.areas) {\n    const count = {\n        measurement: 'trafficCount',\n        tags: {\n            areaId: area,\n            areaName: msg.payload.areas[area].name,\n            feedName : 'camera1',\n        },\n        fields : {\n            periodMs: Date.parse(msg.payload.dateEnd)-Date.parse(msg.payload.dateStart),\n            _total: 0\n        },\n        timestamp: Date.parse(msg.payload.dateEnd)\n    };\n\n    Object.assign(count.fields, msg.payload.counterSummary[area]);\n    counterData.payload.data.push(count);\n}\n\nreturn counterData;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":480,"wires":[["3b4d304e.d5e8d","ee66bdf3.fea17","b1acd6b.ac21128","544760b1.33ddc"]]},{"id":"fba88573.756fc8","type":"debug","z":"ec1ba01a.45f5a","name":"InfluxDB Response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":510,"wires":[]},{"id":"e7ed2026.cd54","type":"Stackhero-InfluxDB-v2-write","z":"ec1ba01a.45f5a","server":"ed943468.60f0a8","name":"InfluxDB2 write","x":1025,"y":510,"wires":[["fba88573.756fc8"]]},{"id":"3b4d304e.d5e8d","type":"debug","z":"ec1ba01a.45f5a","name":"InfluxDB data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1025,"y":450,"wires":[]},{"id":"c25a2e3e.3245e","type":"http request","z":"ec1ba01a.45f5a","name":"start OpenDataCam","method":"GET","ret":"obj","paytoqs":"ignore","url":"localhost:8080/start","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":220,"wires":[["e3459e34.c2b45","2c9c501b.db44f"]]},{"id":"e3459e34.c2b45","type":"debug","z":"ec1ba01a.45f5a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":300,"wires":[]},{"id":"2c9c501b.db44f","type":"delay","z":"ec1ba01a.45f5a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":320,"wires":[[]]},{"id":"ce41d87.6e84728","type":"complete","z":"ec1ba01a.45f5a","name":"","scope":["2c9c501b.db44f"],"uncaught":false,"x":90,"y":160,"wires":[["9a46142a.1b83a8"]]},{"id":"ee66bdf3.fea17","type":"function","z":"ec1ba01a.45f5a","name":"BothCounter","func":"var msg1 = {}\nvar msg2 = {}\n\nvar LeftCountAll = global.get('LeftCountAll') || 0\nvar RightCountAll = global.get('RightCountAll') || 0\n\nLeftCountAll = msg.payload.data[0].fields._total\nRightCountAll = msg.payload.data[1].fields._total\n\nglobal.set('LeftCountAll', LeftCountAll)\nglobal.set('RightCountAll', RightCountAll)\n\nmsg1.payload = LeftCountAll\nmsg1.topic = 'LeftCountAll'\nmsg2.payload = RightCountAll\nmsg2.topic = 'RightCountAll'\n\nreturn [msg1, msg2]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1025,"y":360,"wires":[["92223b1.f1066c8","2c4f2587.a64fba","185fbaa6.6cbbb5"],["1b68cfcc.ed17e","2c4f2587.a64fba","185fbaa6.6cbbb5"]]},{"id":"92223b1.f1066c8","type":"ui_gauge","z":"ec1ba01a.45f5a","name":"LeftCounter","group":"19b5288c.541d37","order":1,"width":0,"height":0,"gtype":"gage","title":"LeftCounter","label":"units","format":"{{value}}","min":0,"max":"18","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":285,"wires":[]},{"id":"1b68cfcc.ed17e","type":"ui_gauge","z":"ec1ba01a.45f5a","name":"RightCounter","group":"19b5288c.541d37","order":2,"width":0,"height":0,"gtype":"gage","title":"RightCounter","label":"units","format":"{{value}}","min":0,"max":"18","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":420,"wires":[]},{"id":"2c4f2587.a64fba","type":"ui_chart","z":"ec1ba01a.45f5a","name":"","group":"19b5288c.541d37","order":3,"width":"8","height":"6","label":"Left-Right-Counter","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1260,"y":330,"wires":[[]]},{"id":"b1acd6b.ac21128","type":"function","z":"ec1ba01a.45f5a","name":"BothSumCounter","func":"var msg1 = {}\nvar msg2 = {}\n\nvar LeftSumCountAll = global.get('LeftSumCountAll') || 0\nvar RightSumCountAll = global.get('RightSumCountAll') || 0\n\nLeftSumCountAll = LeftSumCountAll + msg.payload.data[0].fields._total\nRightSumCountAll = RightSumCountAll + msg.payload.data[1].fields._total\n\nglobal.set('LeftSumCountAll', LeftSumCountAll)\nglobal.set('RightSumCountAll', RightSumCountAll)\n\nmsg1.payload = LeftSumCountAll\nmsg1.topic = 'LeftSumCountAll'\nmsg2.payload = RightSumCountAll\nmsg2.topic = 'RightSumCountAll'\n\nreturn [msg1, msg2]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1035,"y":645,"wires":[["7eb37a9d.c2b064","1ac4c8a.aea9b37","2450cd36.5f3b62"],["597257e.7b47fa8","1ac4c8a.aea9b37","2450cd36.5f3b62"]]},{"id":"7eb37a9d.c2b064","type":"ui_chart","z":"ec1ba01a.45f5a","name":"","group":"e46ac145.45ce6","order":3,"width":"5","height":"4","label":"LeftDataSum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1285,"y":570,"wires":[[]]},{"id":"1ac4c8a.aea9b37","type":"ui_chart","z":"ec1ba01a.45f5a","name":"","group":"e46ac145.45ce6","order":1,"width":"10","height":"6","label":"Left-Right-Counter-Sum","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1325,"y":615,"wires":[[]]},{"id":"597257e.7b47fa8","type":"ui_chart","z":"ec1ba01a.45f5a","name":"RightDataSum","group":"e46ac145.45ce6","order":2,"width":"5","height":"4","label":"RightDataSum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"monotone","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1295,"y":705,"wires":[[]]},{"id":"544760b1.33ddc","type":"function","z":"ec1ba01a.45f5a","name":"CarTypeCounter","func":"var msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\nvar msg4 = {}\nvar msg5 = {}\nvar msg6 = {}\n\nvar LeftCarCountAll = global.get('LeftCarCountAll') || 0\nvar LeftPersonCountAll = global.get('LeftPersonCountAll') || 0\nvar LeftTrunkCountAll = global.get('LeftTrunkCountAll') || 0\nvar RightCarCountAll = global.get('RightCarCountAll') || 0\nvar RightPersonCountAll = global.get('RightPersonCountAll') || 0\nvar RightTrunkCountAll = global.get('RightTrunkCountAll') || 0\n\nLeftCarCountAll = LeftCarCountAll + msg.payload.data[0].fields.car\nLeftPersonCountAll = LeftPersonCountAll + msg.payload.data[0].fields.person\nLeftTrunkCountAll = LeftTrunkCountAll + msg.payload.data[0].fields.trunk\n\nRightCarCountAll = RightCarCountAll + msg.payload.data[1].fields.car\nRightPersonCountAll = RightPersonCountAll + msg.payload.data[1].fields.person\nRightTrunkCountAll = RightTrunkCountAll + msg.payload.data[1].fields.trunk\n\nglobal.set('LeftCarCountAll', LeftCarCountAll)\nglobal.set('LeftPersonCountAll', LeftPersonCountAll)\nglobal.set('LeftTrunkCountAll', LeftTrunkCountAll)\nglobal.set('RightCarCountAll', RightCarCountAll)\nglobal.set('RightPersonCountAll', RightPersonCountAll)\nglobal.set('RightTrunkCountAll', RightTrunkCountAll)\n\nmsg1.payload = LeftCarCountAll\nmsg1.topic = 'LeftCarNum'\nmsg2.payload = LeftPersonCountAll\nmsg2.topic = 'LeftPersonNum'\nmsg3.payload = LeftTrunkCountAll\nmsg3.topic = 'LeftTrunkNum'\n\nmsg4.payload = RightCarCountAll\nmsg4.topic = 'RightCarNum'\nmsg5.payload = RightPersonCountAll\nmsg5.topic = 'RightPersonNum'\nmsg6.payload = RightTrunkCountAll\nmsg6.topic = 'RightTrunkNum'\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6]","outputs":6,"noerr":0,"initialize":"","finalize":"","x":1025,"y":810,"wires":[["aecae4a2.480938","90541133.cc118"],["aecae4a2.480938","90541133.cc118"],["aecae4a2.480938","90541133.cc118"],["ea8c737e.39b19","90541133.cc118"],["ea8c737e.39b19","90541133.cc118"],["ea8c737e.39b19","90541133.cc118"]]},{"id":"90541133.cc118","type":"ui_chart","z":"ec1ba01a.45f5a","name":"LeftRightCarTypeNum","group":"e46ac145.45ce6","order":4,"width":"6","height":"6","label":"LeftRightCarTypeNum","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1300,"y":810,"wires":[[]]},{"id":"aecae4a2.480938","type":"ui_chart","z":"ec1ba01a.45f5a","name":"LeftCarTypeNum","group":"e46ac145.45ce6","order":5,"width":"4","height":"3","label":"LeftCarTypeNum","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":765,"wires":[[]]},{"id":"ea8c737e.39b19","type":"ui_chart","z":"ec1ba01a.45f5a","name":"RightCarTypeNum","group":"e46ac145.45ce6","order":6,"width":"4","height":"3","label":"RightCarTypeNum","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":855,"wires":[[]]},{"id":"185fbaa6.6cbbb5","type":"ui_chart","z":"ec1ba01a.45f5a","name":"CompareDataRealTime","group":"6b4e215c.8ea77","order":1,"width":"10","height":"7","label":"CompareDataRealTime","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1280,"y":375,"wires":[[]]},{"id":"2450cd36.5f3b62","type":"ui_chart","z":"ec1ba01a.45f5a","name":"CompareDataRealTime","group":"6b4e215c.8ea77","order":2,"width":0,"height":0,"label":"CompareDataSum","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#d62728","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1325,"y":660,"wires":[[]]},{"id":"a1146e1f.6ca4f","type":"ui_button","z":"7f4db0d6.75b0e","name":"","group":"6b4e215c.8ea77","order":3,"width":"6","height":"1","passthru":false,"label":"3R1L","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"Button1","x":410,"y":210,"wires":[["6403b89c.e80e98"]]},{"id":"7bec9e2f.718e2","type":"ui_led","z":"7f4db0d6.75b0e","group":"6b4e215c.8ea77","order":4,"width":"4","height":"1","label":"Red-Go","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":760,"y":210,"wires":[]},{"id":"597c290c.e4aa98","type":"ui_button","z":"7f4db0d6.75b0e","name":"","group":"6b4e215c.8ea77","order":5,"width":"6","height":"1","passthru":false,"label":"2R2L","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"Button2","x":410,"y":330,"wires":[["6403b89c.e80e98"]]},{"id":"d39fd26a.da7f2","type":"ui_led","z":"7f4db0d6.75b0e","group":"6b4e215c.8ea77","order":6,"width":"4","height":"1","label":"Red-Go","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":760,"y":330,"wires":[]},{"id":"42d1424e.328e7c","type":"ui_button","z":"7f4db0d6.75b0e","name":"","group":"6b4e215c.8ea77","order":7,"width":"6","height":"1","passthru":false,"label":"1R3L","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"Button3","x":410,"y":450,"wires":[["6403b89c.e80e98"]]},{"id":"85882679.9c1f68","type":"ui_led","z":"7f4db0d6.75b0e","group":"6b4e215c.8ea77","order":8,"width":"4","height":"1","label":"Red-Go","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":755,"y":435,"wires":[]},{"id":"6403b89c.e80e98","type":"function","z":"7f4db0d6.75b0e","name":"","func":"var msg1 = {}\nvar msg2 = {}\nvar msg3 = {}\n\nvar mode_last = global.get('mode_last') || 2\n\nif(msg.payload === 1 && mode_last == 2)\n{\n    msg1.payload = true\n    msg2.payload = false\n    msg3.payload = false\n}\nif(msg.payload === 2)\n{\n    msg1.payload = false\n    msg2.payload = true\n    msg3.payload = false\n}\nif(msg.payload === 3 && mode_last == 2)\n{\n    msg1.payload = false\n    msg2.payload = false\n    msg3.payload = true\n}\n\nmode_last = msg.payload\n\nglobal.set('mode_last', mode_last)\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":585,"y":330,"wires":[["7bec9e2f.718e2","6de1f1e2.8cbaf"],["d39fd26a.da7f2","6ce98d0b.76f484"],["37130c.73c29cf4","85882679.9c1f68"]]},{"id":"7b83b6cc.0eec48","type":"function","z":"7f4db0d6.75b0e","name":"","func":"var msg1 = {}\n\nvar Button3 = global.get('Button3') || false //init Button1 = 0\n\nif(Button3 === false)\n{\n    Button3 = true;\n}\nelse if(Button3 === true)\n{\n    Button3 = false\n}\n\nglobal.set('Button3', Button3)\nmsg1.payload = Button3\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1125,"y":390,"wires":[[]]},{"id":"6de1f1e2.8cbaf","type":"rpi-gpio out","z":"7f4db0d6.75b0e","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":755,"y":255,"wires":[]},{"id":"6ce98d0b.76f484","type":"rpi-gpio out","z":"7f4db0d6.75b0e","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":765,"y":375,"wires":[]},{"id":"37130c.73c29cf4","type":"rpi-gpio out","z":"7f4db0d6.75b0e","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":765,"y":495,"wires":[]}]
